* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Raleway;
}
@font-face {
    font-family: Raleway;
    src: url(../Fonts/Raleway/Raleway-VariableFont_wght.ttf);
}
body {background-image: linear-gradient(90deg, #feffd4, #fff8f8);}


nav {
    display: flex;
    align-items: center;
    justify-content:space-around;
    margin: 15px;
    padding: 5px 20px;

    border: solid 1px black;
    border-radius: 3em;
}
nav h1{
    display: inline;
}
nav img{
    width: 5vw;

}
.nav_logo_and_title {
    display: flex;
    align-items: center;
}
.nav_links a{
    padding: 20px;
    font-size: 1.2em;
    text-decoration: none;
    color: black;
}
@keyframes nav_hover {
    100%{
        font-size: 1.4em;
        font-weight: 600;
    }
}
.nav_links a:hover{
    animation-name: nav_hover;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
.nav_contacto, .responsive_contacto{
    border: solid 2px black;
    border-radius: 25px;
    padding: 5px 15px;
}
.nav_contacto p{
    font-size: 1.4em;
}
a {
    text-decoration: none;
    color: black;
}
@keyframes dark_hover {
    100%{
        background-color: rgb(47, 47, 47);
        color: #fafbed;
    }
}
.nav_contacto:hover {
    animation: 0.5s dark_hover forwards;
}
.menu_icon{
    display: none;
}

#responsive_nav {
    display: none;
}
#responsive_nav_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.3em;
}
#responsive_nav_content a{
    padding: 10px;
}


header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
}
video {
    width: auto;
    z-index: -1;
    max-height: 85vh;
    max-width: 85vw;
    border-radius: 20px;
    border: solid black 2px;
    margin: auto;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
}
header h1 {
    position: absolute;
    color: #ffffff;
    font-size: 3.2em;
    text-shadow: 0px 0px 10px rgb(0, 0, 0);
    font-style: italic;
    font-weight: 800;
    text-align: center;
}



hr {
    border: 1px solid rgb(62, 62, 62);
    height: 1px;
    width: 100%;   
}
h2 {
    text-align: center;
    font-weight: bold;
    font-size: 2.2em;
}
#informacion {
    padding: 5vh 0;
    background-image: linear-gradient(270deg, #feffd4, #fff8f8);
}
#informacion_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#informacion h2 {
    margin-bottom: 3vh;
}
#informacion img {
    width: 30vw;
    margin-right: 5vw;
    border-radius: 20px;
    border: solid black 2px;
    box-shadow: 5px -5px 20px rgba(0, 0, 0, 0.4);
}
#informacion p {
    margin: 5vh 7vw;
    font-size: 1.2em;
}
#informacion a{
    text-decoration: underline;
    color: rgb(69, 94, 203);
}
.first_word {
    font-size: 1.4em;
    font-weight: 600;
}
.italic {
    font-style: italic;
}


#progreso h2 {
    margin: 3vh 0;
}
h3 {
    text-align: center;
    margin: 10px;
    font-weight: 600;
}
table {
    border-collapse: collapse;
    margin: auto;
    margin-bottom: 5vh;
    background-color: white;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
}
td, th {
    font-size: 1em;
    border: solid 1px black;
    padding: 9px;
    text-align: center;
    font-family: helvetica;
}
.p0 {color: red;}
.p9 {color: rgb(251, 105, 105)}
.p23{color: rgb(253, 141, 76);}
.p34{color: rgb(253, 182, 76);}
.p46{color: rgb(246, 233, 48);}
.p88 {color: rgb(140, 193, 140);}
.p100 {color: green;}

.gallery_item {
    width: 25vw;
    height: 40vh;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: white;
    border: solid 1px black;
    border-radius: 20px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
}
.front_card {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.back_card {
    display: none;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center; 
}
.gallery_item img {
    width: 55%;
}
.gallery_item:hover {
    opacity: 0.7;
}
.gallery_item_text {
    width: 45%;
    text-align: center;
    margin-right: 10px;
}
.gallery_item_text hr {
    width: 80%;
    margin: auto;
}
.gallery_item_text h4{
    padding: 20px 0;
    font-family: sans-serif;
    font-size: 1.5em;
}
.gallery_item_text p {
    padding: 15px 0;
    font-family: monospace;
    font-size: 1.5em;
    color: rgb(114, 114, 114);
    font-weight: bold;
}

.gallery {
    display: grid;
    grid: auto / auto auto auto
}
#first_gallery_row {
    margin-top: 0;
}
.gallery_item_back {
    text-align: center;
}

#colaborar {
    background-image: linear-gradient(270deg, #feffd4, #fff8f8);
    text-align: center;
}
#colaborar h2 {
    padding: 3vh;
}
#colaborar_container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 4vh 0;
}
.colaborar_options {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@keyframes fade-in {
    0% {opacity: 0;}
    100% {opacity: 100;}
}
.fade_animation {
    animation: fade-in 0.5s  forwards ease-out;
}
.colaborar_img {
    width: 35%;
    border-radius: 15px;
    border: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.colaborar_img img {
    width: 100%;
    border-radius: 15px
}
.colaborar_element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 23%;
    border-radius: 15px;
    border: solid 1px black;
    text-align: left;
}
.colaborar_element:hover {
    animation: dark_hover 0.5s forwards;
}
.colaborar_element h3 {
    text-align: left;
    margin-bottom: 0;
}
.colaborar_element p {
    margin: 10px;
    margin-top: 2px;
}

#enlaces h2 {
    margin-top: 15px;
}
.enlaces_container {
    display: flex;
    justify-content: center;
}
.enlaces_element {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: solid 1px black;
    border-radius: 15px;
    margin: 15px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    margin-left: 10px;
    color: black;
    padding-left: 10px;
}
.enlaces_element:hover {
    animation: dark_hover 0.5s forwards;
}
.enlaces_element img {
    height: 10vh;
    padding: 10px;
}

.small_separator{
    width: 90%;
    margin: auto;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px;
}
footer li, footer ul{display: inline;}
footer li{padding: 0px 15px;}
footer a{
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    font-weight: 300;
}
footer a:hover{text-decoration: underline;}
footer a:active{font-weight: 500;}
footer img{width: 3vw;}
.footer_contacto{
    display: inline;
    border: solid 1px black;
    border-radius: 25px;
    padding: 5px 15px;
}
.footer_contacto a:hover {
    text-decoration: none;
    font-weight: 400;
}
.footer_contacto a:active{font-weight: 600;}



@media (min-width: 670px) and (max-width:900px){
    header h1{
        font-size: 3em;
    }
    footer{
        flex-direction: column-reverse;
    }
    footer img {
        width: 10vw;
        margin-top: 10px;
    }
    .nav_links{display: none;}
    .nav_contacto{display: none;}
    .menu_icon{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 8vw;
        height: 8vw;
        background-color: rgb(231, 236, 236);
        border-radius: 50%;
        margin: 5px 0;
    }
    .menu_icon_bar{
        border-radius: 2px;
        background-color: rgba(122, 122, 122, 0.5);
        height: 4px;
        width: 4vw;
    }
    .gallery {
        grid: auto / auto auto;
    }
    .gallery_item {
        width: 40vw;
        height: 90%;
        flex-direction: column;
    }
    .gallery_item_text {
        font-size: 0.95em;
    }
    .gallery_item img {
        margin-top: 10px;
    }
    #informacion_content {
        flex-direction: column;
    }
    #informacion_content img {
        margin: auto;
        width: 80vw;
    }
    td, th {
        padding: 7px;
    }
}

@media (max-width: 670px) {
    .enlaces_container {
        flex-direction: column;
    }
    .colaborar_img {
        display: none;
    }
    .colaborar_options {
        width: 80%;
    }
    .colaborar_element {
        font-size: 0.9em;
        padding: 15px;
    }
    td, th {
        padding: 3px;
        font-size: 1em;
    }
    .gallery {
        grid: auto / auto auto;
    }
    .gallery_item {
        width: 40vw;
        height: 90%;
        flex-direction: column;
    }
    .gallery_item_text {
        font-size: 0.6em;
    }
    .gallery_item img {
        margin-top: 10px;
    }
    #informacion_content {
        flex-direction: column;
        font-size: 0.9em;
    }
    #informacion_content img {
        margin: auto;
        width: 80vw;
    }
    nav {
        margin: 3vw;
        text-align: center;
    }
    .nav_links{display: none;}
    .nav_contacto{display: none;}
    nav img{width: 10vw;}
    .menu_icon{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 9vw;
        height: 9vw;
        background-color: rgb(231, 236, 236);
        border-radius: 50%;
    }
    .menu_icon_bar{
        border-radius: 2px;
        background-color: rgba(122, 122, 122, 0.5);
        height: 4px;
        width: 4vw;
    }
    header h1{
        font-size: 2.3em;
    }

    footer{
        justify-content: space-evenly;
        flex-direction: column;
    }
    footer img{
        width: 15vw;
    }
    footer ul{
        text-align: center;
    }
    footer li{
        display: block;
        padding: 5px;
        font-size: 1.2em;
    }
}
@media (max-width:550px){
    td, th {
        padding: 1px;
        font-size: 0.6em;
    }
}
