* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Raleway;
}
@font-face {
    font-family: Raleway;
    src: url(../Fonts/Raleway/Raleway-VariableFont_wght.ttf);
}
body {background-image: linear-gradient(90deg, #feffd4, #fff8f8);}

nav {
    display: flex;
    align-items: center;
    justify-content:space-around;
    margin: 15px;
    padding: 5px 20px;

    border: solid 1px black;
    border-radius: 3em;
}
nav h1{
    display: inline;
}
nav img{
    width: 5vw;

}
.nav_logo_and_title {
    display: flex;
    align-items: center;
}
.nav_links a{
    padding: 20px;
    font-size: 1.2em;
    text-decoration: none;
    color: black;
}
@keyframes nav_hover {
    100%{
        font-size: 1.4em;
        font-weight: 600;
    }
}
.nav_links a:hover{
    animation-name: nav_hover;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
.nav_contacto {
    border: solid 2px black;
    border-radius: 25px;
    padding: 5px 15px;
}
@keyframes contacto_hover {
    50%{
        font-size: 1.2em;
    }
    65%{
        background-color: rgb(230, 255, 255);
    }
    100%{
        transform: rotate(-3deg);
        font-size: 1.2em;
        background-color: rgb(230, 255, 255);
    }
}
.nav_contacto:hover {
   animation: 0.5s contacto_hover forwards ease-in-out;
}
.nav_contacto a{
    text-decoration: none;
    color: black;
    font-size: 1.4em;
}
.menu_icon{
    display: none;
}

header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
}
video {
    width: auto;
    z-index: -1;
    max-height: 85vh;
    max-width: 85vw;
    border-radius: 20px;
    border: solid black 2px;
    margin: auto;
}
header h1 {
    position: absolute;
    color: #ffffff;
    font-size: 3.2em;
    text-shadow: 0px 0px 10px rgb(0, 0, 0);
    font-style: italic;
    font-weight: 800;
    text-align: center;
}

hr{
    border: 1px solid rgb(62, 62, 62);
    height: 1px;
    width: 90%;
    margin: auto;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px;
}
footer li, footer ul{display: inline;}
footer li{padding: 0px 15px;}
footer a{
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    font-weight: 300;
}
footer a:hover{text-decoration: underline;}
footer a:active{font-weight: 500;}
footer img{width: 3vw;}
.footer_contacto{
    display: inline;
    border: solid 1px black;
    border-radius: 25px;
    padding: 5px 15px;
}
.footer_contacto a:hover {
    text-decoration: none;
    font-weight: 400;
}
.footer_contacto a:active{font-weight: 600;}

@media (min-width: 670px) and (max-width:900px){
    header h1{
        font-size: 3em;
    }
    footer{
        flex-direction: column-reverse;
    }
    footer img {
        width: 10vw;
        margin-top: 10px;
    }
    .nav_links{display: none;}
    .nav_contacto{display: none;}
    .menu_icon{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 8vw;
        height: 8vw;
        background-color: rgb(231, 236, 236);
        border-radius: 50%;
        margin: 5px 0;
    }
    .menu_icon_bar{
        border-radius: 2px;
        background-color: rgba(122, 122, 122, 0.5);
        height: 4px;
        width: 4vw;
    }
}

@media (max-width: 670px) {
    nav {
        margin: 3vw;
        text-align: center;
    }
    .nav_links{display: none;}
    .nav_contacto{display: none;}
    nav img{width: 10vw;}
    .menu_icon{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 9vw;
        height: 9vw;
        background-color: rgb(231, 236, 236);
        border-radius: 50%;
    }
    .menu_icon_bar{
        border-radius: 2px;
        background-color: rgba(122, 122, 122, 0.5);
        height: 4px;
        width: 4vw;
    }
    header h1{
        font-size: 2.3em;
    }

    footer{
        justify-content: space-evenly;
        flex-direction: column;
    }
    footer img{
        width: 15vw;
    }
    footer ul{
        text-align: center;
    }
    footer li{
        display: block;
        padding: 5px;
        font-size: 1.2em;
    }
}